@charset "utf-8";

*{margin:0;padding:0;letter-spacing: 1px;}
body,button,input,select,textarea{font:12px/2 Verdana, Regular, Helvetica, sans-serif;}/*雅黑：\5FAE\8F6F\96C5\9ED1  Verdana, Helvetica, sans-serif*/
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;word-wrap: break-word; white-space: normal;}
small{font-size:12px;}
li{list-style:none;}
a:link,a:visited{color:#555;text-decoration:none;}
a:hover{color: #47DA8E;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#555;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;outline: none;resize: none;overflow: hidden;padding: 2px;}
table{border-collapse:collapse;border-spacing:0;}
b{font-weight: normal;}
i{font-style: normal;}
body{background: #f1f1f1;}

.tick{cursor: pointer;}
.all_tick img{position: relative;top: 3px;}
.show{display: block !important;}
.container{ width:1190px; margin:0 auto;}
.hidden{display: none !important;}
.clear{clear: both;}

.header{background: #57bb87;height: 30px;color: #ffffff;line-height: 30px;min-width: 1200px;}
.header p{float: left;}
.header ul{float: right;margin-right: 100px;}
.header ul li{float: left;width: 90px;padding-left: 10px;}
.header ul li a{color: #FFFFFF;}
.header ul li i{margin-left:3px ;color: red;background: #FFFFFF;border-radius: 5px;padding: 0px 3px;}

.logo_serach{height: 120px;background: #fbfbfb;font-size: 18px;}
.logo_serach .logo {float: left;margin-top: 30px;}
.logo_serach .serach{border: solid 2px #009247;margin:30px 100px 0 0;height: 40px;float: right;}
.logo_serach .serach input{width: 490px;height: 40px;border: none;float: left;}
.logo_serach .serach button{cursor: pointer;width: 100px;height: 40px;border: none;background: #009247;}
.logo_serach .serach button img{padding-top: 5px;}

.navbar{height: 50px;background: #009247;font-size: 16px;min-width: 1200px;}
.navbar .dropdown{float: left;width: 200px;height: 50px;}
.navbar .dropdown .dropdown_btn{cursor: pointer;position: relative;background: #004622;line-height: 50px;text-align: center;color: #FFFFFF;}
.navbar .dropdown .dropdown_btn>img{position: absolute;left: 45px;top:18px;}
.navbar .dropdown .dropdown_menu{z-index: 10;position: absolute;width: 160px;background: rgba(255,255,255,0.7);padding: 20px 0px 40px 40px;}
.navbar .dropdown .dropdown_menu li{float: left;width: 78px;}
.navbar .dropdown .dropdown_menu li.dropdown_header{margin-top: 15px;width: 100%;font-size: 20px;position: relative;}
.navbar .dropdown .dropdown_menu li img{position: absolute;top: 12px;left: -30px;}
.navbar .dropdown .dropdown_menu li a{color: #2d2d2d;}
.navbar .nav {float: left;margin-left: 200px;}
.navbar .nav li{float: left;width: 100px;height: 50px;}
.navbar .nav li a{color: #FFFFFF;line-height: 50px;}


.help{height: 460px;background:#ffffff ;min-width: 1200px;}
.help ul{padding-top: 60px ;}
.help ul li{float: left;text-align: center;width: 20%;}
.help ul li h1{font-size:26px;}
.help ol{text-align: center;float: left;width: 20%;}
.help ol li{font-size: 14px;}
.help ol li h2{font-size:18px}
.help ol li a{color: inherit;}
.copy{color: #FFFFFF;background: #333333;height: 220px;text-align: center;min-width: 1200px;}
.copy h3{padding: 50px 0 20px;font-size: 14px;}
.copy p{margin: 0;}


